
.upper-bar{
    background-color: #08526d;
    color: #fff;
}
.upper-bar .info{
    margin: 15px 0;
}
@media(max-width:767px){
    .upper-bar .info:first-child{
        margin-bottom: 0;
    }
    .upper-bar .qout{
        border: none;
    }
}
.upper-bar span{
    color: #bfc6c9;
}
.upper-bar .qout{
    display: inline-block;
    border: 2px solid #ec1c23;
    margin-left: 30px;
    padding: 5px;
}
@media(max-width:767px){
    .upper-bar .qout{
        border: none;
    }
}
/* start navbar  */
.navbar-brand span:first-child{
    color: #08526d;
    font-size:30px;
    font-weight: bold;
}
.navbar-brand span:last-child{
    color: #ec1c23;
    font-size:30px;
}
.navbar-nav .nav-link{
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
    color: #08526d !important;
    font-weight: 600;
}
.navbar-nav .active > .nav-link{
    color: #ec1c23 !important
}
/* end navbar  */
/* start slider  */
.slider{
    background: #ddd;
}
.slider .carousel-inner{
    display: flex;
    justify-content: center;
    align-items: left;
}
@media(max-width:768px){
    .slider .carousel-inner{
        justify-content: center;
    }
}
.slider .carousel-item{
    background-size: cover;
}
.slider .carousel-inner h2{
  position: absolute;
  color: #fff;
  z-index: 4;
  max-width: 800px;
  font-size: 60px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 100px;
}
@media(max-width:767px){
    .slider .carousel-inner h2{
        max-width: 100%;
        font-size: 30px;
        text-align: center;
        left: auto;
    }
}
 .slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
} 
.slider .carousel-one{
    background-image: url('../images/shuffle9.jpeg');
}
.slider .carousel-two{
    background-image: url('../images/shuffle6.jpg');
}
.slider .carousel-three{
    background-image: url('../images/shuffle7.jpg');
}
.slider .one{
    background: #ec1c23;
    height:14px;
    width: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slider .carousel-indicators li{
    height: 8px;
    cursor: pointer;
}
/* end slider  */
/* start feature  */
.feature{
    padding: 50px 0;
}
.feature i{
    background: #ed1d24;
    color: #fff;
    padding:15px;
    margin-bottom: 30px;
}
.feature h3{
    color: #08526d;
    font-size: 24px;
}
.feature p{
    line-height: 1.5;
    color: #333;
    margin-bottom: 40px;
}
/* end feature  */
/* start overview  */
.overviw {
 padding: 100px;
 background: #f0f5f7;
}
.overviw h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
@media(max-width:992px){
.overviw h2{
    font-size: 30px;
    margin-bottom: 20px;
}
}
.overviw p{
    width: 80%;
    margin:0 auto 20px;
    font-size: 20px;
}
@media(max-width:992px){
    .overviw p{
    width: 100%;
}
}
.overviw h3{
    letter-spacing: 2px;
    color: #acacac;
    font-weight: normal;
    margin-bottom: 40px;
}
.overviw button{
    background: #ed1d24;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
/* end overview  */
/* start featured  */
.featured-work{
    padding: 100px;
}
.featured-work h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.featured-work p{
    width: 80%;
    margin:0 auto 20px;
    font-size: 20px;
}
.featured-work ul{
    margin-top: 40px;
    margin-bottom: 50px;
}
.featured-work ul li{
    color: #08526d;
    border: 2px solid #08526d;
    margin-left: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition:all 0.3s ;
    -webkit-transition:all 0.3s ;
    -moz-transition:all 0.3s ;
    -ms-transition:all 0.3s ;
    -o-transition:all 0.3s ; 
}
.featured-work ul li.active,
.featured-work ul li:hover{
    background-color: #ec1c23;
    border: 2px solid #ec1c23;
    color: white;
}
.featured-work ul li:hover{
    cursor: pointer;
}
.featured-work .shuffle-images .row{
    margin: 0;
}
.featured-work .shuffle-images .row .col-sm{
    padding: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.featured-work .row img{
    width: 100%;
}

/* end featured  */
/* start latest posts  */
.latest-posts{
    padding:0 0 100px;
}
.latest-posts .card{
    margin-right: 20px;
}
.latest-posts h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.latest-posts .section-description{
    width: 80%;
    margin:0 auto 50px;
    font-size: 20px;
}
.latest-posts .card .card-title{
    font-size: 20px;
    line-height: 1.8;
    color: #08526d;
}
.latest-posts .card .card-text{
    color: #333;
}
/* end latest posts  */
/* start testimonial  */
.testimonial{
background-size: cover;
background-image: url('../images/shuffle1.jpg');
position: relative;
}
.testimonial .container{
    position: relative;
    z-index: 5;
}
.testimonial .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.testimonial .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.testimonial .carousel-indicators li{
    height: 8px;
    cursor: pointer;
}
.testimonial .carousel-caption img{
    margin-bottom: 20px;
}
.testimonial .carousel-caption h5{
    margin-bottom: 10px;
}
.testimonial .carousel-caption h5 + span{
    font-size: 18px;
    margin-bottom: 30px;
    display: inline-block;
}
.testimonial .carousel-control-prev,
.testimonial .carousel-control-next
{
    z-index: 6;
}
/* end testimonial  */
/* start pricing  */
.pricing-table{
    padding:100px;
    background: #f7f7f7;
}
.pricing-table .card{
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    padding: 0;
}
.pricing-table .card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}
.pricing-table h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.pricing-table .section-description{
    width: 80%;
    margin:0 auto 80px;
    font-size: 20px;
}
@media(max-width:992px){
    .pricing-table .section-description{
    width: 100%;
}
}
.pricing-table .card-body{
    padding: 0;
}
.pricing-table .card .card-title{
    font-size: 25px;
    color: #08526d;
    line-height: 1.5;
    margin-top: 20px;
}
.pricing-table .card .card-text{
    background: #f7f7f7;
    color: #08526d;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin: 30px 0 10px;
}

.pricing-table .card .card-text span{
    font-size: 14px;
    text-transform: uppercase;
}
.pricing-table .list-group{
    margin-bottom: 30px;
}
.pricing-table .list-group-item{
    border: none;
}
.pricing-table .card-link{
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: #ed1d24;
    font-size: 18px;
}
.pricing-table .card.corporate {
    top: -20px;
}
.pricing-table .card.corporate .card-text{
    background-color: #ed1d24;
    color: white;
}
.pricing-table .card.corporate .card-link{
    background-color: #08526d;
}
/* end pricing  */
/* start why choose us  */
.choose-us img{
    max-width: 100%;
}
.choose-us .col-6{
    padding: 0;
}
.choose-us .col-6:last-child{
    background-color: #08526d;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.choose-us .h1{
    margin: 40px;
}
.choose-us p{
    margin: 40px;
    line-height: 2;
    font-size: 18px;
}
.choose-us .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed1d24;
    color: white;
    margin-left: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
/* end why choose us  */
/* start statistics  */
.stats{
    padding: 100px 0;
    color: #08526d;
}
.stats .stat-box{
    margin-bottom: 40px;
}
.stats span{
    display: block;
    font-weight: bold;
    font-size: 50px;
}
.stats p{
    color: #ed1d24;
    font-size: 15px;
    margin: 0;
}
/* end statistics  */
/* start contact  */
.contact{
    padding: 70px 0;
    background-color: #ed1d24;
    color: white;
    font-size: 20px;
}
.contact p{
    margin: 0;
}
.contact a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 8px 15px;
}
/* end contact  */
/* start footer  */
.footer{
    padding: 100px 0;
}
.footer .site-info > span{
    font-size: 50px;
}
.footer .site-info span:first-of-type{
    color: #08526d;
    font-weight: bold;
}
.footer .site-info span:last-of-type{
    color: #ec1c23;
}
.footer .site-info p{
color: #727272;
line-height: 1.8;
}
.footer .site-info a{
color: #08526d;
font-size: 15px;
font-weight: bold;
}
.footer .site-info a::before{
    font-family: 'FontAwesome';
    content: '\f138';
    margin-right: 5px;
    display: inline-block;
}
.footer .helpful-link h2,
.footer .contact-us h2
{
    font-size: 22px;
    margin-bottom: 30px;
    color: #08526d;
}
.footer .helpful-link ul li::before{
    font-family: 'FontAwesome';
    content: '\f054';
    margin-right: 5px;
    color: #08526d;
    font-size: 12px;
    position: relative;
    top: -1px;
}
.footer .contact-us ul li{
    margin-bottom: 24px;
}
/* end footer  */
/* start copyright  */
.copyright{
    border-top: 1px solid #c0c0c0;
    padding: 20px;
}
.copyright ul{
    margin: 0;
}
.copyright ul li{
    display: inline-block;
}
.copyright ul li a{
    color: #08526d;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}
/* end copyright  */